* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  flex-shrink: 0;
}
/* ----- GLOBAL ----- */

#header-container {
  min-width: 1200px;
  padding: 20px 120px;
  margin-bottom: 28px;
  top: 0;
  position: sticky;
  z-index: 99;
  background-color: #eee;
  transition: all 0.3s;
}
#header-container.roll {
  background-color: rgba(40, 40, 40, 0.95);
}
#header-container.roll img {
  filter: invert(1);
}
#header-container.roll #header-nav-bar li a {
  color: #fff;
}
/* ----- HEADER CONTAINER ----- */

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-content img {
  cursor: pointer;
}

#header-nav-bar {
  display: flex;
  gap: 30px;
  font-size: 18px;
}
#header-nav-bar li,
a {
  cursor: pointer;
  color: #000;
}

#header-nav-bar li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
#search-bar input {
  padding-left: 3px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
}

#search-bar #burguer-menu {
  display: none;
  width: 40px;
}
