/* --------GLOBAL-------- */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  flex-shrink: 0;
}

body {
  width: 100%;
  height: 100vh;
}
/* --------GLOBAL-------- */

/* --------HEADER-------- */
#header-container {
  padding: 20px 120px;
  margin-bottom: 28px;
  top: 0;
  position: sticky;
  z-index: 99;
  background-color: #eee;
  transition: all 0.3s;
}
#header-container.roll {
  background-color: rgba(40, 40, 40, 0.95);
}
#header-container.roll img {
  filter: invert(1);
}
#header-container.roll #header-nav-bar li a {
  color: #fff;
}
#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-content img {
  cursor: pointer;
}

#header-nav-bar {
  display: flex;
  gap: 30px;
  font-size: 18px;
}
#header-nav-bar li,
a {
  cursor: pointer;
  color: #000;
}

#header-nav-bar li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
#search-bar input {
  padding-left: 3px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
}

#burguer-menu {
  display: none;
  width: 40px;
}
/* --------HEADER-------- */

/* --------BANNERS-------- */
#banner-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.side-banners {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* --------BANNERS-------- */

/* --------SLIDER-------- */
#slider-container {
  margin: 65px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider {
  display: flex;
  align-items: center;
  gap: 25px;
}

#slider-title {
  width: 1200px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
}

#slider-title h1 {
  font-size: 28px;
  font-weight: 700;
}

.slider-product {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 270px;
  height: 480px;
  padding: 15px 10px;
}
.slider-product span {
  color: #484848;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.slider-product p {
  color: #484848;
  font-size: 16px;
  margin-bottom: 10px;
}

.slider-product button {
  width: 260px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #a4bebf;
  font-weight: 800;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
/* --------SLIDER-------- */

/* --------FOOTER-------- */
#footer-container {
  display: flex;
  padding: 50px 120px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #404040;
}

#call-center-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  gap: 10px;
}

#call-center-container a {
  margin: 10px 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.footer-title {
  margin-bottom: 12px;
  width: 275px;
  padding-bottom: 7px;
  font-size: 16px;
  border-bottom: 1px solid #cfcfcf;
  color: #fff;
}

.payment-title {
  margin-bottom: 12px;
  width: 340px;
  padding-bottom: 7px;
  font-size: 16px;
  border-bottom: 1px solid #cfcfcf;
  color: #fff;
}
/* --------FOOTER-------- */

/* --------MEDIA QUERIES-------- */
@media screen and (max-width: 1270px) {
  .side-banners {
    width: 290px;
    height: 390px;
  }
  #slider {
    gap: 15px;
  }
  .banner03 {
    width: 290px;
    height: 390px;
  }
}

@media screen and (max-width: 1200px) {
  #header-container {
    padding: 15px 90px;
  }
  #slider-title {
    width: 1100px;
  }
  #slider {
    gap: 10px;
  }
  .slider-product {
    width: 250px;
  }
  .slider-product button {
    width: 230px;
  }
  #footer-container {
    padding: 50px 70px;
  }
  .footer-title {
    width: 240px;
  }
  .security-container {
    display: flex;
    width: 240px;
    flex-direction: column;
    gap: 5px;
  }
  .security-container img {
    width: 150px;
  }

  .payment-title {
    width: 245px;
  }
  .payment-container img {
    width: 45px;
    height: 32px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    gap: 15px;
  }
}

@media screen and (max-width: 1100px) {
  #search-bar {
    gap: 15px;
  }
  #search-bar input {
    width: 200px;
  }

  #slider-title {
    width: 980px;
  }
  .slider-product {
    width: 215px;
    height: 445px;
  }
  .slider-product button {
    width: 195px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  #header-nav-bar {
    display: none;
  }
  #burguer-menu {
    display: block;
    width: 40px;
  }
  #header-content {
    display: flex;
    justify-content: space-evenly;
  }
  #slider-title {
    width: 920px;
  }
  .slider-product {
    width: 200px;
    height: 400px;
  }
  .slider-product p {
    font-size: 14px;
  }
  .slider-product span {
    font-size: 12px;
  }
  .slider-product h2 {
    font-size: 20px;
  }

  .slider-product button {
    width: 180px;
    font-size: 12px;
  }
}

@media screen and (max-width: 950px) {
  #banner-container {
    gap: 20px;
  }
  .side-banners {
    width: 260px;
    height: 350px;
  }
  .banner03 {
    width: 265px;
    height: 355px;
  }
  #slider-title {
    width: 800px;
  }
  .slider-arrow {
    width: 15px;
  }
  #slider-title h1 {
    font-size: 26px;
  }
  .slider-product {
    width: 175px;
    height: 400px;
  }
  .slider-product h2 {
    font-size: 18px;
  }
  .slider-product button {
    width: 155px;
  }
}

@media screen and (max-width: 840px) {
  #search-bar {
    display: none;
  }
  .side-banners {
    width: 210px;
    height: 265px;
  }
  .banner03 {
    width: 210px;
    height: 290px;
  }
  #slider-title {
    width: 720px;
  }
  .slider-product {
    width: 165px;
    height: 390px;
  }
  .slider-product button {
    width: 145px;
  }
  #footer-container {
    padding: 40px 60px;
  }
  #call-center-container {
    font-size: 12px;
  }
  .footer-title {
    width: 190px;
    font-size: 14px;
  }
  .security-container {
    width: 200px;
  }
  .security-container img {
    width: 140px;
  }
  .payment-title {
    width: 190px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  #header-container {
    padding: 15px;
  }
  #banner-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-direction: column;
  }
  .side-banners {
    width: 320px;
    margin-bottom: 160px;
  }
  .banner03 {
    width: 320px;
    height: 320px;
  }
  #slider {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  #slider-title {
    width: 500px;
  }
  .slider-arrow {
    display: none;
  }
  .slider-product {
    width: 245px;
    height: 440px;
  }
  .slider-product span {
    font-size: 14px;
  }
  .slider-product p {
    font-size: 16px;
  }

  .slider-product button {
    width: 225px;
    font-size: 16px;
  }
  #footer-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 35px;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  #slider-title {
    width: 300px;
  }
  #slider-title h1 {
    font-size: 18px;
  }
  .side-banners {
    width: 270px;
    margin-bottom: 100px;
  }
  .banner03 {
    width: 270px;
    height: 300px;
  }
}
/* --------MEDIA QUERIES-------- */
