* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  flex-shrink: 0;
}
/* ----- GLOBAL ----- */

body {
  width: 100%;
  height: 100vh;
}
#header-container {
  min-width: 1200px;
  padding: 20px 120px;
  margin-bottom: 28px;
  top: 0;
  position: sticky;
  z-index: 99;
  background-color: #eee;
  transition: all 0.3s;
}
#header-container.roll {
  background-color: rgba(40, 40, 40, 0.95);
}
#header-container.roll img {
  filter: invert(1);
}
#header-container.roll #header-nav-bar li a {
  color: #fff;
}
/* ----- HEADER CONTAINER ----- */

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-content img {
  cursor: pointer;
}

#header-nav-bar {
  display: flex;
  gap: 30px;
  font-size: 18px;
}
#header-nav-bar li,
a {
  cursor: pointer;
  color: #000;
}

#header-nav-bar li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
#search-bar input {
  padding-left: 3px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
}

#search-bar #burguer-menu {
  display: none;
  width: 40px;
}

#banner-container {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Colunas automáticas nos cantos e uma coluna de tamanho 1fr no meio */
  grid-gap: 10px;
}

.banner-img {
  max-width: 100%; /* Adicionado max-width */
  height: auto; /* Adicionado height: auto */
  object-fit: cover;
}

.banner01 {
  grid-column: 1;
  grid-row: span 2;
}

.banner02 {
  grid-column: 1;
  grid-row: span 1;
}

.banner03 {
  grid-column: 2;
  grid-row: span 2;
}

.banner04 {
  grid-column: 3;
  grid-row: span 1;
}

.banner05 {
  grid-column: 3;
  grid-row: span 1;
}

#footer-container {
  min-width: 1200px;
  display: flex;
  padding: 49px 120px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #404040;
}

#call-center-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  gap: 10px;
}

#call-center-container a {
  margin: 10px 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.footer-title {
  margin-bottom: 12px;
  width: 275px;
  padding-bottom: 7px;
  font-size: 16px;
  border-bottom: 1px solid #cfcfcf;
  color: #fff;
}

.payment-title {
  margin-bottom: 12px;
  width: 340px;
  padding-bottom: 7px;
  font-size: 16px;
  border-bottom: 1px solid #cfcfcf;
  color: #fff;
}
